@import '/assets/styles/variables.scss';

.defaultLayout {
    display: block;
    &_content {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, $mainPurple 100%);
        padding: 32px 24px 32px 24px;
    }
}